.header {
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    height: 80px;
    margin-bottom: 26px;
    align-items: center;
    position: fixed;
    overflow: initial;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.header__title {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-left: 22px;
    transition: color 0.2s ease-in;
}

.header__title:hover {
    color: rgba(0, 0, 0, 0.5);
}

.header__buttons {
    margin-right: calc(-1 * (100vw - 100%));
    overflow: hidden;
    display: flex;
}

.header__image-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-right: 22px;
}

.button {
    background-color: inherit;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    color: black;
    line-height: 28px;
    width: 109px;
    height: 51px;
}

.button__sign-in {
    position: relative;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    transition: border 0.2s;
}

.button__sign-up {
    border: 1px solid #52c41a;
    color: #52c41a;
    transition:
        color 0.4s,
        background 0.2s;
    margin-right: 32px;
}

.button__sign-in:hover {
    border-color: black;
}

.button__log-out {
    border: 1px solid #000;
    color: #000;
    transition:
        color 0.4s,
        background 0.2s,
        border 0.2s;
    margin-right: 32px;
}

.button__sign-up:hover,
.button__log-out:hover,
.header__article-button:hover {
    color: white;
    background-color: #52c41a;
}

.button__log-out:hover {
    border: 1px solid #52c41a;
}

.header__user {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
}

.header__username {
    margin-right: 12px;
}

.header__image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.header__article-button {
    border: 1px solid #52c41a;
    color: #52c41a;
    transition:
        color 0.2s,
        background 0.2s;
    margin-right: 32px;
    height: 31px;
    font-size: 14px;
    font-weight: 300;
}
