.edit-profile {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 384px;
    margin: 126px auto 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding-bottom: 48px;
}

.edit-profile__title {
    font-family: 'Roboto', sans-serif;
    margin-top: 48px;
    margin-bottom: 22px;
    font-size: 20px;
    font-weight: normal;
    color: #262626;
}

.edit-profile__button {
    cursor: pointer;
    background-color: #1890ff;
    color: #fff;
    font-size: 16px;
    width: 319px;
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-top: 22px;
    margin-bottom: 8px;
    transition:
        box-shadow 0.2s,
        font-size 0.2s;
}

.edit-profile__button:hover {
    font-size: 15px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
