@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html {
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ebeef3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

label > input,
label > textarea,
label > div {
    margin-top: 5px;
}

h1,
h2,
h3,
ul,
li,
p,
button {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    position: relative;
}
